.idea/
# macOS system files
.DS_Store
.DS_Store?
._*

# Ignore Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env
.envrc

# Log files
*.log

# Coverage reports
.coverage
node_modules
.venv
